.share {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    background: #DDDDDD;
    box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
    padding:30px;
}

.share textarea{
    word-break: break-all;
    width: 100%;
    resize: none;
    height: 4em;
}