* {margin: 0;padding: 0;box-sizing: border-box}
*::after, *::before {box-sizing: border-box}
a {text-decoration: none}
ol, ul {list-style: none}
body {font-size: 18px}
button {font: inherit}
div[v-cloak]{display: none;}

@media (min-width: 500px) {
    .page {height: 100vh;overflow: hidden;display: flex;}
}
.page > aside {width: 150px;display: flex;flex-direction: column;justify-content: space-between;text-align: center;flex-shrink: 0;border-right:1px solid #dddddd;box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5)}
.page > aside > .upper {display: flex;flex-direction: column;}
.page > aside .actions > li {margin: 20px;}
.page > aside > .down {padding: 20px 0;}
.button {padding: 3px 10px;}
.page > main {width: 100%;overflow: auto;}
.page > main >.resume{max-width: 800px;margin: 0 auto;}
.closeShare{border-radius: 5px;width: 4em;box-shadow:2px 2px 2px black;outline: none}
.exitPreview {position: fixed;left: 20px;top: 20px;}
